/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap'); */
*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}
:root{
    --base-color:#00bdfe;
    --secondary-color:#00cbfe;
    --third-color:#5adeff;
    --text-color:#d8f2ff;
}
body{
    font-family: Roboto,sans-serif;
    overflow-y: hidden;
}

nav{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

nav .menu{
    display: flex;
    
}

nav .menu li{
    padding: 15px;
}

nav ul li a{
    color: var(--base-color);
    font-size: 1.5em;
}
.line{
    height: 1.5px;
    width: 100px;
    display: inline-block;
    background: var(--base-color);
}
nav .sm{
    display: flex;
}
nav .sm li{
    padding: 15px;
}

nav .sm li a i{
    color: var(--base-color);
}
.hero{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    background: url(../img/saturn.svg);
    background-position:center;
    background-repeat: no-repeat;
    object-fit: cover;
    text-align: center;
}

h1{
    padding: 15px;
    color: var(--base-color);
    font-size: 4em;
}

.btn{
    padding: 15px;
    font-size: 1em;
    border: none;
    border-radius: 50px;
    background-color: var(--secondary-color);
    color: var(--text-color);
}

.btn:hover{
    color: var(--base-color);
    background-color: transparent;
    border: 2px solid var(--base-color);
    transition: all .3s ease-in;
}
.circle{
    margin: 50px;
    border: 2px solid var(--base-color);
    padding: 15px;
    border-radius: 50%;
    animation: float 3s ease-in-out;
    animation-iteration-count: infinite;
}
.arrow{
    border: solid #00bdfe;
    border-width: 0 3px 3px 0;
    padding: 3px;
}
.down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@keyframes float{
    0%{
        transform: translate(0,0px);
    }
    50%{
        transform: translate(0,15px);
    }
    100%{
        transform: translate(0,-0px);
    }
}

@media(max-width:600px)
{
    .hero{
        background: none;
    }
    h1{
        font-size: 2.5em;
    }
}

@media(max-width:800px)
{
    .hero{
        background-position:0 10px;
        
    }
}